@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h2 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

#Signup_form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
    position: relative;
    left: 60px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background-color: #E7F6FF;
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
}

.error {
    border: 3px solid red !important;
}

/*.error::before{*/
/*    content: "error";*/
/*    color: black;*/
/*}*/

.button {
    height: 30px;
    width: 100px;
    background-color: #E7F6FF;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    color: slategrey;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

/*#BackSub{*/
/*    position: relative;*/
/*    right: 10px;*/
/*}*/

.Signup h2 {
    color: #AEAEAE;
    position: relative;
    right: 160px;
    font-size: 17px;
}

#header {
    position: relative;
    bottom: 20px;
    font-size: 40px;
}

#nameh2, #surnameh2, #emailh2 {
    color: #AEAEAE;
    position: relative;
    right: 170px;
    font-size: 17px;
}

#div {
    margin-right: 10%;
    padding: 1px 16px;
    height: 1000px;
}

